<!--
  底部tab
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 首页 -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- 聊天 -->
  <!--<ion-tab title="聊天" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!-- 朋友圈 -->
  <!--<ion-tab title="朋友圈" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->

  <!-- 我的	-->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/mine">
    <ion-nav-view name="tab-mine"></ion-nav-view>
  </ion-tab>

</ion-tabs>
