<ion-view view-title="个人中心">
	<ion-content>
		<div style="padding: 5px;">
			<!--头像-->
			<div class="clear">
				<div class="floatL">头像</div>
				<img ng-src="img/icon.png" class="floatR" style="width: 50px;height: 50px;border-radius: 50%;"/>
			</div>
			<!-- 昵称 -->
			<div class="clear">
				<div class="floatL">昵称</div>
				<div class="floatR">CJH</div>
			</div>
			<!-- 性别 -->
				<div class="clear">
				<div class="floatL">性别</div>
				<div class="floatR">男</div>
			</div>			
		</div>

	</ion-content>
</ion-view>