
.floatL {
	float: left;
}

.floatR {
	float: right;
}

.clear:after {
    content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.textCenter {
	text-align: center;
}

.divInput {
	line-height: 32px;border: 1px solid #319bf7;border-radius: 2px;margin: 10px 5px;
}

.btnSub {
	line-height: 35px;background-color:#319BF7 ;border: 1px solid #319BF7;color: white;border-radius: 5px;width: 80%;
}

.line-height40 {
	line-height: 40px;
}

.b-btm-colorCCC {
	border-bottom: 1px solid #CCCCCC;
}
